<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>SportNet</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
</head>
<body class="fondo2">

<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Futbol</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="navbar_register" href="registrarse.html"><i class="material-icons left">account_box</i>Registrarse</a></li>
        <li><a href="proyecto.html"><i class="material-icons right">arrow_back</i>Inicio</a></li>
        <li><a href="collapsible.html">Ayuda</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="proyecto.html">Home</a></li>
        <li class="tab"><a class="active" href="argentina.html">Futbol</a></li>
        <li class="tab"><a href="basket.html">Basketball</a></li>
      </ul>
    </div>
</nav>
	

    <div class="rob">

    	<div class="col-11"><img src="../static/super.jpg"></div>

    </div>

    <div class="titulo3">
    	<h1>Tabla Del Torneo Actual</h1>
    </div>

  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th>#</th><th>Equipo</th><th>PJ</th><th>G</th><th>E</th><th>P</th><th>GF</th><th>GC</th><th>DG</th><th>Pts</th>
        </tr>
      </thead>
      <tr>
        <td>1</td><td><img src="../static/boc.png" class="img">Boca Juniors</td><td>10</td><td>8</td><td>0</td><td>2</td><td>21</td><td>2</td><td>19</td><td>24</td>
      </tr>
      <tr>
        <td>2</td><td><img src="../static/san.png" class="img">San Lorenzo</td><td>10</td><td>6</td><td>3</td><td>0</td><td>21</td><td>2</td><td>19</td><td>21</td>
      </tr>
       <tr>
        <td>3</td><td><img src="../static/uni.png" class="img">Union</td><td>10</td><td>6</td><td>3</td><td>0</td><td>21</td><td>2</td><td>19</td><td>21</td>
      </tr>
       <tr>
        <td>4</td><td><img src="../static/hur.png" class="img">Huracan</td><td>10</td><td>6</td><td>2</td><td>2</td><td>20</td><td>2</td><td>19</td><td>20</td>
      </tr>
       <tr>
        <td>5</td><td><img src="../static/col.png" class="img">Colon</td><td>10</td><td>5</td><td>5</td><td>0</td><td>20</td><td>2</td><td>19</td><td>20</td>
      </tr>
       <tr>
         <td>6</td><td><img src="../static/tall.png" class="img">Talleres</td><td>10</td><td>5</td><td>3</td><td>2</td><td>18</td><td>2</td><td>19</td><td>18</td>
      </tr>
       <tr>
         <td>7</td><td><img src="../static/ind.png" class="img">Independiente</td><td>10</td><td>5</td><td>3</td><td>2</td><td>21</td><td>2</td><td>19</td><td>18</td>
      </tr>
       <tr>
         <td>8</td><td><img src="../static/god.png" class="img">Godoy Cruz</td><td>10</td><td>5</td><td>2</td><td>3</td><td>21</td><td>2</td><td>19</td><td>17</td>
      </tr>
       <tr>
         <td>9</td><td><img src="../static/bel.png" class="img">Belgrano</td><td>10</td><td>4</td><td>4</td><td>2</td><td>21</td><td>2</td><td>19</td><td>16</td>
      </tr>
       <tr>
         <td>10</td><td><img src="../static/ban.png" class="img">Banfield</td><td>10</td><td>4</td><td>3</td><td>3</td><td>21</td><td>2</td><td>19</td><td>15</td>
      </tr>
       <tr>
         <td>11</td><td><img src="../static/def.png" class="img">Def.y Justicia</td><td>10</td><td>4</td><td>3</td><td>3</td><td>21</td><td>2</td><td>19</td><td>15</td>
      </tr>
       <tr>
         <td>12</td><td><img src="../static/riv.png" class="img">River Plate</td><td>10</td><td>4</td><td>3</td><td>4</td><td>21</td><td>2</td><td>19</td><td>15</td>
      </tr>
       <tr>
         <td>13</td><td><img src="../static/sanm.png" class="img">San Martin (SJ)</td><td>10</td><td>4</td><td>2</td><td>4</td><td>21</td><td>2</td><td>19</td><td>14</td>
      </tr>
       <tr>
         <td>14</td><td><img src="../static/est.png" class="img">Estudiantes</td><td>10</td><td>4</td><td>2</td><td>4</td><td>21</td><td>2</td><td>19</td><td>14</td>
      </tr>
       <tr>
         <td>15</td><td><img src="../static/arg.png" class="img">Argentinos Juniors</td><td>10</td><td>4</td><td>1</td><td>5</td><td>21</td><td>2</td><td>19</td><td>13</td>
      </tr>
       <tr>
         <td>16</td><td><img src="../static/cat.png" class="img">Atletico Tucuman</td><td>10</td><td>3</td><td>4</td><td>3</td><td>21</td><td>2</td><td>19</td><td>13</td>
      </tr>
       <tr>
         <td>17</td><td><img src="../static/vel.png" class="img">Velez</td><td>10</td><td>4</td><td>1</td><td>6</td><td>21</td><td>2</td><td>19</td><td>13</td>
      </tr>
       <tr>
         <td>18</td><td><img src="../static/new.png" class="img">Newells</td><td>10</td><td>3</td><td>3</td><td>4</td><td>21</td><td>2</td><td>19</td><td>12</td>
      </tr>
       <tr>
         <td>19</td><td><img src="../static/rac.png" class="img">Racing</td><td>10</td><td>3</td><td>3</td><td>4</td><td>21</td><td>2</td><td>19</td><td>12</td>
      </tr>
       <tr>
         <td>20</td><td><img src="../static/lan.png" class="img">Lanus</td><td>9</td><td>4</td><td>0</td><td>5</td><td>21</td><td>2</td><td>19</td><td>12</td>
      </tr>
       <tr>
         <td>21</td><td><img src="../static/pat.png" class="img">Patronato</td><td>10</td><td>3</td><td>2</td><td>5</td><td>21</td><td>2</td><td>19</td><td>11</td>
      </tr>
       <tr>
         <td>22</td><td><img src="../static/gim.png" class="img">Gimnasia</td><td>10</td><td>3</td><td>1</td><td>6</td><td>21</td><td>2</td><td>19</td><td>10</td>
      </tr>
       <tr>
         <td>23</td><td><img src="../static/ros.png" class="img">Rosario Central</td><td>10</td><td>2</td><td>4</td><td>4</td><td>21</td><td>2</td><td>19</td><td>10</td>
      </tr>
       <tr>
         <td>24</td><td><img src="../static/tig.png" class="img">Tigres</td><td>10</td><td>1</td><td>5</td><td>4</td><td>21</td><td>2</td><td>19</td><td>8</td>
      </tr>
       <tr class="d1">
         <td>25</td><td><img src="../static/tem.png" class="img">Temperley</td><td>10</td><td>2</td><td>2</td><td>6</td><td>21</td><td>2</td><td>19</td><td>8</td>
      </tr>
       <tr class="d2">
         <td>26</td><td><img src="../static/cha.png" class="img">Chacarita</td><td>10</td><td>1</td><td>3</td><td>6</td><td>21</td><td>2</td><td>19</td><td>6</td>
      </tr>
       <tr class="d3">
         <td>27</td><td><img src="../static/oli.png" class="img">Olimpo</td><td>10</td><td>1</td><td>3</td><td>6</td><td>21</td><td>2</td><td>19</td><td>6</td>
      </tr>
       <tr class="d4">
         <td>28</td><td><img src="../static/ars.png" class="img">Arsenal</td><td>10</td><td>1</td><td>2</td><td>7</td><td>21</td><td>2</td><td>19</td><td>5</td>
      </tr>
    </table>
  </div>
  <div class="titulo3">
    <h1>Goleadores Del Torneo</h1> 
  </div>

  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th>#</th><th>Jugador</th><th>Equipo</th><th>PJ</th><th>Gol</th>
        </tr>
      </thead>
      <tr>
        <td>1</td><td>Benedetto</td><td><img src="../static/boc.png" class="img">Boca Juniors</td><td>9</td><td>8</td>
      </tr>
       <tr>
        <td>2</td><td>Fernandez</td><td><img src="../static/def.png" class="img">Def.y Justicia</td><td>9</td><td>5</td>
      </tr>
       <tr>
        <td>3</td><td>Soldano</td><td><img src="../static/uni.png" class="img">Union</td><td>9</td><td>5</td>
      </tr>
    </table>
  </div>

  <div class="h3">
    <h3>Fixture</h3> 
  </div>

  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th>Local</th><th>Visitante</th><th>Resultado</th><th>Fecha</th>
        </tr>
      </thead>
      <tr>
        <td><img src="../static/ban.png" class="img">Banfield</td><td><img src="../static/def.png" class="img">Def.y Justicia</td><td>-</td><td>17:00 24/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/cha.png" class="img">Chacarita</td><td><img src="../static/hur.png" class="img">Huracan</td><td>-</td><td>19:15 24/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/col.png" class="img">Colon</td><td><img src="../static/tig.png" class="img">Tigre</td><td>-</td><td>21:30 24/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/pat.png" class="img">Patronato</td><td><img src="../static/uni.png" class="img">Union</td><td>-</td><td>17:00 25/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/bel.png" class="img">Belgrano</td><td><img src="../static/gim.png" class="img">Gimnasia</td><td>-</td><td>17:00 25/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/san.png" class="img">San Lorenzo</td><td><img src="../static/arg.png" class="img">Argentinos Juniors</td><td>-</td><td>19:15 25/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/rac.png" class="img">Racing</td><td><img src="../static/ind.png" class="img">Independiente</td><td>-</td><td>21:30 25/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/god.png" class="img">Godoy Cruz</td><td><img src="../static/lan.png" class="img">Lanus</td><td>-</td><td>17:00 26/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/est.png" class="img">Estudiantes</td><td><img src="../static/cat.png" class="img">Atlrtico Tucuman</td><td>-</td><td>17:00 26/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/riv.png" class="img">River Plate</td><td><img src="../static/new.png" class="img">Newells</td><td>-</td><td>19:15 26/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/ros.png" class="img">Rosario Central</td><td><img src="../static/boc.png" class="img">Boca Juniors</td><td>-</td><td>21:30 26/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/ars.png" class="img">Arsenal</td><td><img src="../static/tall.png" class="img">Talleres</td><td>-</td><td>17:00 27/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/vel.png" class="img">Velez</td><td><img src="../static/oli.png" class="img">Olimpo</td><td>-</td><td>19:15 27/11/17</td>
      </tr>
      <tr>
        <td><img src="../static/tem.png" class="img">Temperley</td><td><img src="../static/sanm.png" class="img">San Martin(SJ)</td><td>-</td><td>21:30 27/11/17</td>
      </tr>

    </table>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>


</body>
</html>