<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>SportNet</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
 
</head>
<body class="fondo1">
	
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Basketball</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="navbar_register" href="registrarse.html"><i class="material-icons left">account_box</i>Registrarse</a></li>
        <li><a href="proyecto.html"><i class="material-icons right">arrow_back</i>Inicio</a></li>
        <li><a href="collapsible.html">Ayuda</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="proyecto.html">Home</a></li>
        <li class="tab"><a class="active" href="argentina.html">Futbol</a></li>
        <li class="tab"><a href="">Basketball</a></li>
      </ul>
    </div>
  </nav>

  <div class="titulo3">
      <h1>NBA (National Basketball Asosiation)</h1>
  </div>

  <div class="rob">
    <div class="col-11"><img src="../static/nba.png"></div>
  </div>

  <div>
    <h2>Confederacion Este</h2>
  </div>

  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th>#</th><th>Equipo</th><th>G</th><th>P</th><th>Pct</th><th>PDL</th><th>Conf</th><th>Div</th><th>Loc</th><th>Vis</th><th>U10</th><th>Rach</th>
        </tr>  
      </thead>
      <tr class="d5">
        <td>1</td><td><img src="../static/nba/cel.png" class="img">Celtics</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr class="d6">
        <td>2</td><td><img src="../static/nba/pis.png" class="img">Pistons</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr class="d7">
        <td>3</td><td><img src="../static/nba/rap.png" class="img">Raptors</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr class="d8">
        <td>4</td><td><img src="../static/nba/cav.png" class="img">Cavaliers</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>5</td><td><img src="../static/nba/wiz.png" class="img">Wizards</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>6</td><td><img src="../static/nba/kni.png" class="img">Knicks</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>7</td><td><img src="../static/nba/buc.png" class="img">Bucks</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>8</td><td><img src="../static/nba/76.png" class="img">76ers</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>9</td><td><img src="../static/nba/pac.png" class="img">Pacers</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>10</td><td><img src="../static/nba/mag.png" class="img">Magic</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>11</td><td><img src="../static/nba/hea.png" class="img">Heat</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>12</td><td><img src="../static/nba/hor.png" class="img">Hornets</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>13</td><td><img src="../static/nba/net.png" class="img">Nets</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>14</td><td><img src="../static/nba/bul.png" class="img">Bulls</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>15</td><td><img src="../static/nba/haw.png" class="img">Hawks</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      
    </table>
  </div>

  <div class="h3">
    <h3>Playoffs</h3>
  </div>

  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th>#</th><th>Equipo</th><th>G</th><th>P</th><th>Pct</th><th>PDL</th><th>Conf</th><th>Div</th><th>Loc</th><th>Vis</th><th>U10</th><th>Rach</th>
        </tr>  
      </thead>
      <tr class="d9">
        <td>1</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
      </tr>
      <tr>
         <td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
      </tr>
      <tr>
         <td>4</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
      </tr>
    </table>  
 </div>


  <div>
    <h2>Confederacion Oeste</h2>
  </div>

  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th>#</th><th>Equipo</th><th>G</th><th>P</th><th>Pct</th><th>PDL</th><th>Conf</th><th>Div</th><th>Loc</th><th>Vis</th><th>U10</th><th>Rach</th>
        </tr>  
      </thead>
      <tr class="d5">
        <td>1</td><td><img src="../static/nba/roc.png" class="img">Rockets</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr class="d6">
        <td>2</td><td><img src="../static/nba/war.png" class="img">Warriors</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr class="d7">
        <td>3</td><td><img src="../static/nba/tim.png" class="img">Timberwolves</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr class="d8">
        <td>4</td><td><img src="../static/nba/spu.png" class="img">Spurs</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>5</td><td><img src="../static/nba/tra.png" class="img">Trail Blazers</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>6</td><td><img src="../static/nba/nug.png" class="img">Nuggets</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>7</td><td><img src="../static/nba/pel.png" class="img">Pelicans</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>8</td><td><img src="../static/nba/griz.png" class="img">Grizzlies</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>9</td><td><img src="../static/nba/thu.png" class="img">thunder</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>10</td><td><img src="../static/nba/jaz.png" class="img">jazz</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>11</td><td><img src="../static/nba/lak.png" class="img">Lakers</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>12</td><td><img src="../static/nba/sun.png" class="img">Suns</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>13</td><td><img src="../static/nba/cli.png" class="img">Clippers</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>14</td><td><img src="../static/nba/kin.png" class="img">Kings</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>15</td><td><img src="../static/nba/mav.png" class="img">Mavericks</td><td>8</td><td>8</td><td>0</td><td>0</td><td>21</td><td>2</td><td>19</td><td>24</td><td>0</td><td>0</td>
      </tr>
      
    </table>
  </div>

  <div class="h3">
    <h3>Playoffs</h3>
  </div>

  <div id="tabla">
    <table>
      <thead>
        <tr>
          <th>#</th><th>Equipo</th><th>G</th><th>P</th><th>Pct</th><th>PDL</th><th>Conf</th><th>Div</th><th>Loc</th><th>Vis</th><th>U10</th><th>Rach</th>
        </tr>  
      </thead>
      <tr class="d9">
        <td>1</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
      </tr>
      <tr>
        <td>2</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
      </tr>
      <tr>
         <td>3</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
      </tr>
      <tr>
         <td>4</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
      </tr>
    </table>  
 </div>

 <div class="h3">
   <h1>The Finals</h1>
 </div>

 <div>
    <div class="col-101"><img src="../static/fin.jpg"></div>
 </div>

 <div id="tabla">
    <table>
      <thead>
        <tr>
          <th>Equipo</th><th>Puntos</th><th>Equipo</th><th>Puntos</th>
        </tr>  
      </thead>
      <tr>
        <td>-</td><td>-</td><td>-</td><td>-</td>
      </tr>
    </table>
 </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>