<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>SportNet</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


     
  <!-- Compiled and minified JavaScript -->
 
</head>
<body>
<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Estadios</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="navbar_register" href="registrarse.html"><i class="material-icons left">account_box</i>Registrarse</a></li>
        <li><a href="proyecto.html"><i class="material-icons right">arrow_back</i>Inicio</a></li>
        <li><a href="collapsible.html">Ayuda</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

 <div class="titulo3">
      <h1>Los 5 mejores estadios de futbol en Europa</h1>
 </div>

 <div class="rob">
	<div class="col-10"><img class="materialboxed" src="../static/nou.jpg"></div>
 </div>
 
 <div>
 	<h2>1.Camp Nou</h2>
 	<p></p>
 	<p>Es el estadio del F.C. Barcelona, de la ciudad espanola homónima. En él pueden ver un encuentro casi 100.000 personas y se dice que es el mejor de toda Europa. Tiene un gran museo donde se exhiben las copas obtenidas por el club en varias disciplinas. </p>
 </div>

 <div class="rob">
	<div class="col-10"><img class="materialboxed" src="../static/alli.jpg"></div>
 </div>

 <div>
 	<h2>2.Allianz Arena</h2>
 	<p></p>
 	<p>Un paseo por Munich debe incluir esta parada. El Allianz Arena es el estadio del Bayern Munich y el 1860 Munich. Tiene toda la tecnología imaginada, siendo de los estadios mas modernos del mundo. Pueden ingresar 69 mil espectadores y su fachada cambia de color segun qué equipo de los dos juegue de local: rojo para el Bayen y azul para el 1860. Si juega la selección nacional, queda blanco.</p>
 </div>

 <div class="rob">
	<div class="col-10"><img class="materialboxed" src="../static/wem.jpg"></div>
 </div>

 <div>
 	<h2>3.Wembley</h2>
 	<p></p>
 	<p>Localizado en la ciudad de Londres y es el estadio más emblemático de Inglaterra. También se lo llama Nuevo Wembley porque una gran parte fue demolida y reconstruida entre 2003 y 2007. Es el estadio cubierto más grande de Europa, con 90 mil plazas y alli se disputan los partidos de la selección nacional de fútbol, asi como también conciertos.</p>
 </div>

 <div class="rob">
	<div class="col-10"><img class="materialboxed" src="../static/sansi.jpg"></div>
 </div>

 <div>
 	<h2>4.Giuseppe Meazza</h2>
 	<p></p>
 	<p>Ubicado en la ciudad de Milan, en Italia, es compartido por los dos equipos locales: el A.C. Milan y el Internazionale. Su capacidad es de 80.000 espectadores y se lo llama San Siro, siendo uno de los estadios mas grandes del pais.</p>
 </div>

 <div class="rob">
	<div class="col-10"><img class="materialboxed" src="../static/bern.jpg"></div>
 </div>

 <div>
 	<h2>5.Santiago Bernabeu</h2>
 	<p></p>
 	<p>Es el estadio del Real Madrid, uno de los dos equipos mas importantes de Espana y del mundo. Los merengues juegan sus partidos de local alli desde 1947 y tiene una capacidad para 80.400 fanaticos. Si piensas viajar a Madrid, es hora de comprar tus tickets para disfrutar de un espectaculo inolvidable.</p>
 </div>

 
  
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>

</body>
</html>