<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>SportNet</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
 
</head>
<body>
	
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="material-icons">cloud</i>Goleadores</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="navbar_register" href="registrarse.html"><i class="material-icons left">account_box</i>Registrarse</a></li>
        <li><a href="proyecto.html"><i class="material-icons right">arrow_back</i>Inicio</a></li>
        <li><a href="collapsible.html">Ayuda</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <div class="titulo3">
      <h1>Goleadores de LaLiga 2017/2018</h1>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <td>#</td><td>Jugador</td><td>Equipo</td><td>PJ</td><td>Gol</td>
        </tr>
      </thead>
      <tr>
        <td>1</td><td><img src="../static/leo2.jpg" class="img2"></td><td><img src="../static/bar.png" class="img">FC.Barcelona</td><td>13</td><td>12</td>
      </tr>
       <tr>
        <td>2</td><td><img src="../static/zaza.jpg" class="img2"></td><td><img src="../static/val.png" class="img">Valencia</td><td>12</td><td>9</td>
      </tr>
       <tr>
        <td>3</td><td><img src="../static/bak.jpg" class="img2"></td><td><img src="../static/vir.png" class="img">Villa Real</td><td>12</td><td>9</td>
      </tr>
    </table>
  </div>



<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>